- html_title l("html_title")
- @gantt.view = self
- content_for :header_tags do
  = javascript_include_tag 'dhtmlxgantt', :plugin => :redmine_advanced_gantt
  = javascript_include_tag 'locale_ru', :plugin => :redmine_advanced_gantt
  = javascript_include_tag 'dhtmlxgantt_tooltip', :plugin => :redmine_advanced_gantt
  = javascript_include_tag 'dhtmlxgantt_quick_info', :plugin => :redmine_advanced_gantt
  = javascript_include_tag 'gantt', :plugin => :redmine_advanced_gantt
  = stylesheet_link_tag 'dhtmlxgantt', :plugin => :redmine_advanced_gantt
  = stylesheet_link_tag 'gantt', :plugin => :redmine_advanced_gantt
  = stylesheet_link_tag 'dhtmlxgantt_broadway', :plugin => :redmine_advanced_gantt
  = include_gon
  = csrf_meta_tag
%h2= @query.new_record? ? l(:label_gantt) : h(@query.name)
= form_tag({:controller => 'advanced_gantt_project', :action => 'index', :project_id => @project, :month => params[:month], :year => params[:year], :months => params[:months]}, :method => :get, :id => 'query_form') do              |
  = hidden_field_tag 'set_filter', '1'
  %fieldset#filters{:class => "collapsible #{@query.new_record? ? "" : "collapsed"}"}
    %legend{:onclick => "toggleFieldset(this);"}= l(:label_filter_plural)
    %div{:style => @query.new_record? ? "" : "display: none;"}
      = render :partial => 'queries/filters', :locals => {:query => @query}
  %fieldset.collapsible.collapsed
    %legend{:onclick => "toggleFieldset(this);"}= l(:label_options)
    %div{:style => "display: none;"}
      %table
        %tr
          %td
            %fieldset
              %legend= l(:label_related_issues)
              %label
                = check_box_tag "draw_rels", params["draw_rels"], params[:set_filter].blank? || params[:draw_rels]
                - rels = [IssueRelation::TYPE_BLOCKS, IssueRelation::TYPE_PRECEDES]
                - rels.each do |rel|
                  - color = Redmine::Helpers::Gantt::DRAW_TYPES[rel][:color]
                  = content_tag(:span, '&nbsp;&nbsp;&nbsp;'.html_safe, :style => "background-color: #{color}")
                  = l(IssueRelation::TYPES[rel][:name])
          %td
            %fieldset
              %legend= l(:label_gantt_progress_line)
              %label
                = check_box_tag "draw_progress_line", params[:draw_progress_line], params[:draw_progress_line]
                = l(:label_display)
  %p.contextual.gantt-zoom-tasks-inputs
    %label
      = radio_button_tag 'scales', 'week'
      Часы
    %label
      = radio_button_tag 'scales', 'trplweek', true
      Дни
    %label
      = radio_button_tag 'scales', 'month'
      Недели
    %label
      = radio_button_tag 'scales', 'year'
      Месяцы
    %label
      = radio_button_tag 'scales', 'years'
      Года
    //= gantt_zoom_link(@gantt, :in)
    //= gantt_zoom_link(@gantt, :out)
  %p.buttons
    = text_field_tag 'months', @gantt.months, :size => 2
    = l(:label_months_from)
    = select_month(@gantt.month_from, :prefix => "month", :discard_type => true)
    = select_year(@gantt.year_from, :prefix => "year", :discard_type => true)
    = hidden_field_tag 'zoom', @gantt.zoom
    = link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked'
    = link_to l(:button_clear), { :project_id => @project, :set_filter => 1 }, :class => 'icon icon-reload'                                             |
= error_messages_for 'query'
- if @query.valid?
  - zoom = 1
  //- @gantt.zoom.times { zoom = zoom * 2 }
  //- subject_width = 330
  //- header_height = 18
  //- headers_height = header_height
  //- show_weeks = false
  //- show_days  = false
  //- if @gantt.zoom > 1
  //  - show_weeks = true
  //  - headers_height = 2 * header_height
  //  - if @gantt.zoom > 2
  //    - show_days = true
  //    - headers_height = 3 * header_height
  //- g_width = ((@gantt.date_to - @gantt.date_from + 1) * zoom).to_i
  //- @gantt.render(:top => headers_height + 8, :zoom => zoom, :g_width => g_width, :subject_width => subject_width)

%div{id: "gantt_here", style: 'width:100%; min-height: 400px;'} &nbsp;
%div.gantt_loader

